* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

.container {
    padding: 10px 10%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 30px 125px 10px 0px;

}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 35px;
    position: relative;

}

nav ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;

}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #ff004f;
}

#image1 {
    display: inline-flex;
    height: 60vh;
    padding-right: 60px;
    padding-left: 30px;
    padding-bottom: 40px;
    padding-top: 70px;
    transform: translate(1200px, -300px);
    border-radius: 100px;
}

/* ABOUT */
#about {

    height: 10vh;
}

.div1 {
    width: 80px;
    font-size: larger;
    font-family: sans-serif;
    background-color: black;

}

#p1 {
    height: 300px;
    text-align: justify;
    line-height: 40px;
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 30px;
}

#p2,
#p3 {

    height: 350px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: .1rem;
    font-weight: bold;
    font-size: 30px;
}

.row1>h1 {
    padding-top: 10px;

}

#li1 {
    font-size: x-large;
    list-style: none;
    margin: 40px 0;
}

#span1 {
    color: #ff004f;
    font-size: 20px;
}

/* contact */
#contact {
    text-align: justify;
    padding: 0% 100%;
}

.row1 {
    display: block;
    padding-right: 0vh;
    text-align: center;
    font-size: 40px;
    /* border: 1px solid red; */
    height: 900px;
    width: 1610px;
    margin-left: -160px;
}

a {
    text-decoration: none;
    color: whitesmoke;
}
